VITE_API_URL=http://localhost:8000/api
VITE_RAZORPAY_KEY_ID=
VITE_GOOGLE_AUTH_URL=http://localhost:8000/api/auth/google
VITE_PHONE_NUMBER=+918712956595
VITE_WHATSAPP_NUMBER=918712956594
VITE_CONTACT_EMAIL=santu.edi@gmail.com
